.element__logo-like_active {
    width: 22px;
    height: 19px;
    background-color: transparent;
    border: none;
    padding: 0;
    background: url(../../../../image/like-black.svg);
}

.element__logo-like_active:hover {
    opacity: 0.5;
    cursor: pointer;
}