.popup__name {
    margin: 54px auto 0;
    box-sizing: border-box;
    max-width: 358px;
    width: 100%;
    height: 27px;
    padding: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 00, 0, 0.2);
}

.popup__name:focus {
    outline: none;
}

.popup__name::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.popup__name::-webkit-input-placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.popup__name::-moz-placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.popup__name::-ms-input-placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 580px) {
    .popup__name {
        margin: 75px auto 0;
        max-width: 238px;
    }
}