.profile-info__description {
    width: 336px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 16px 0 0 0;
    height: 18px;
}

@media screen and (max-width: 748px) {
    .profile-info__description {
        width: 282px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: 0 auto;
        height: 14px;
    }
}