.element__logo-like {
    width: 22px;
    height: 19px;
}

.element__logo-like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.element__logo-like:active {
    background: url(../../../Image/like-black.svg);
}