.profile-info__head {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 775px) {
    .profile-info__head {
        max-width: 282px;
        display: grid;
        grid-template-columns: 1fr 189px 1fr;
    }
}