.page__container {
    max-width: 880px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 920px) {
    .page__container {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .page__container {
        max-width: 320px;
    }
}